@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --bg: #f4fafa;
    --bg-darker: #eaf4f3;
    --teal: #38a095;
    --lightgreen: #cce1df;
    --lightblue: #90cac4;
    --blue: #8edaf1;
} 

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body{
    background: var(--bg);
}

.container{
    display: flex;
}

main{
    position: relative;
    padding: 20px;
    width: calc(100% - 100px);
}

.contain{
    height: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
} 

.button, .search{
    font-size: 1.2em;
    background: none;
}

.search{
    display: flex;
    border: 1px solid var(--teal);
    border-radius: 10px;
    padding-left: 10px;
}

.search input{
    background: none;
}

.search i{
    color: var(--teal);
    font-size: 0.8875rem;
    padding: 0 10px 0 5px;
    align-self: center;
}

.button{
    background: var(--teal);
    border: 1px solid var(--teal);
    border-radius: 10px;
    padding: 0 5px;
}

.button a, .button input{
    font-size: 1.125rem;
    color: var(--bg);
    text-align:center
}

.button:hover, .button a:hover, .button input:hover{
    background: var(--bg);
    color: var(--teal);
}

.btn-cont{
    display: flex;
    justify-content: flex-start;
}

h1{
    padding: 10px 0;
    color: var(--teal);
}

.main-content{
    text-align: center;
}

table {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
  }
  
  th {
    background-color: #5EB1A9;
    color: white;
  }
  
  /*alternating colors*/
  tr:nth-child(even) {
      background-color: #CFE7E4;
}

tr:nth-child(odd) {
    background-color: #E1EFED;
  }

.form-container{
    display: flex;
    flex-direction: column;
    margin: 20px 75px;
    justify-content: space-around;
    gap: 15px;
}

.form-container span{
    display: block;
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: var(--teal);
}

.form-container input, textarea{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.form-container input{
    height: 40px;
}

.form-container textarea{
    resize: none;
}

.btn-submit{
    width: 20%;
    align-self: center;
}

.btn-submit input{
    background: transparent;
    height: auto;
    cursor: pointer;
}

/*css for approve & decline*/
.action-buttons {
    display: flex;
    gap: 10px; 
    align-items: center;
    justify-content: center;
}
  
.action-buttons button {
    font-size: 1.44rem;
    background-color:transparent;
    color: #38a095;
    cursor: pointer;
  }
.action-buttons button:hover{
    color: #acafaf;
    transform-origin: 0.5s;
  }
.fa-trash:before {
    color: #38a095;
}
.fa-edit:before{
    color: #38a095;
}

.paginationCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    border-radius: 0.5rem;
    background-color: #38a095;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5em
}

.paginationMain a{
    font-size: 1.2em;
    border-radius: 0.5em;
    padding-inline: 0.5em;
}
.active{
    color: #38a095;
    background-color: white;
}

.notActive{
    background-color: #38a095;
    color: white;
}

.notActive:hover{
    color: #c5d6d3;
}

/*style for popup*/
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    }

.popup-container iframe{
    width: 700px;
    height: 80vh;
    border: none;
    border-radius: 10px;
    background-color: transparent;

}

.popup-container>img{
    position: absolute;
    top: 125px;
    left: 300px;
    cursor: pointer;
    height: 24px;
    max-width: 24px;
}